<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yyccbbz.ssm.mapper.ItemExtMapper" >
	
	<!-- 根据查询条件查询商品列表 -->
	<select id="findItemsByQueryVO" parameterType="ItemQueryVO" resultType="item">
		
		SELECT * FROM items
		<where>
			<if test="item != null">
				<if test="item.name != null and item.name != ''">
					item.name like '%${item.name}%'
				</if>
			</if>
		</where>
		
	</select>
	
</mapper>