<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引入外部资源配置文件 -->
	<properties resource="jdbc.properties" />

	<settings>
		<!-- 开启驼峰自动映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<!-- 别名。 type：指定java对象类型 alias：别名名称 -->
		<!-- <typeAlias type="org.yyccbbz.mybatis.pojo.User" alias="User"/> -->
		<!-- 指定扫描包，Mybatis会将该包下的所有的类生成一个别名 别名的首字母不区分大小写，但是，推荐使用大写 -->
		<package name="org.yyccbbz.mybatis.pojo" />
	</typeAliases>

	<!-- 配置环境，制定数据库连接信息 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
		
		<environment id="test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="MyMapper.xml"/>
		<mapper resource="UserMapper.xml"/>
		<package name="org.yyccbbz.mybatis.mapper" />
	</mappers>
</configuration>