<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	
	<select id="findUserById" parameterType="Long" resultType="org.yyccbbz.mybatis.pojo.User">
		SELECT *,user_name userName FROM tb_user WHERE id = #{id}
	</select>
	
	<!-- 
		resultType: 指定结果集映射的java对象类型
	 -->
	<select id="findUserList" resultType="org.yyccbbz.mybatis.pojo.User">
		SELECT *,user_name userName  FROM tb_user
	</select>
	
	<insert id="saveUser" parameterType="org.yyccbbz.mybatis.pojo.User">
		INSERT INTO tb_user (
			id,
			user_name,
			password,
			name,
			age,
			sex,
			birthday,
			created,
			updated
		)
		VALUES
			(
				NULL,
				#{userName},
				#{password},
				#{name},
				#{age},
				#{sex},
				#{birthday},
				NOW(),
				NOW()
			);
	</insert>
	
	
	<delete id="deleteUserById" parameterType="java.lang.Long">
		DELETE FROM tb_user WHERE id = #{id}
	</delete>
	
	<update id="updateUser" parameterType="org.yyccbbz.mybatis.pojo.User">
		UPDATE tb_user
		SET 
		 user_name = #{userName},
		 password = #{password},
		 name = #{name},
		 age = #{age},
		 sex = #{sex},
		 birthday = #{birthday},
		 updated = NOW()
		WHERE
			id = #{id}
	</update>
</mapper>